<html>
<body>
<h1>Generate link</h1>
<form>
    <p>Enter your long URL</p>
    <input type="text" name='longURL' id='longURL'>
    <button type="submit">Generate short URL</button>
</form>
<p>Your short URL</p>
<p id='shortURL'>Short URL</p>
<button type="submit">Sign in</button>
</body>
</html>